.container {
    margin: 50px auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  .btn-danger {
    background-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  .disabled-link {
    pointer-events: none;
    opacity: 0.6;
  }
  